*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
body{
    background-color:gainsboro;
}
header{
    padding:20px ;
    background-color:white ;
    margin-bottom: 40px;
}
.logo{
    vertical-align: middle;
    margin-left: 25px;
}
.scritta_logo{
    vertical-align: middle;
}
h1{
    display: inline;
}
.contenitore{
    background-color:white;
    border-radius: 20px;
    width: 70%;
    margin: 0 auto;
}
nav{
    padding: 20px 0px 20px 50px;
}
.nav_1{
    padding: 8px;
    background-color: blue;
    color: white;
    border-radius: 20px;
    border: 1px solid blue
}
.nav_2{
    border-radius: 20px;
    padding: 8px;
    width: 100px;

}
hr{
    color: gainsboro;
}
main{
    padding: 50px;
}
ul{
    list-style-type: none;
}
li{
    padding: 8px 0px;
}
.cerchio{
    padding: 2px 5px;
    border-radius: 50%;
    border: 1px solid greenyellow;
    margin-right: 10px;
    color: greenyellow;
    margin-left: 10px;
}
.cerchio-x{
    padding: 2px 5px;
    border-radius: 50%;
    border: 1px solid red;
    margin-right: 10px;
    color: red;
    margin-left: 10px;
}
.rettangolo_blu{
    border-radius: 20px;
    padding:8px;
    background-color:blue;
    color: white;
    margin-left: 10px;
}
.rettangolo_viola{
    border-radius: 20px;
    padding:8px;
    background-color: rgb(157, 0, 255);
    color: white;
    margin-left: 10px;
   
}
.rettangolo_verde{
    border-radius: 20px;
    padding:8px;
    background-color: rgb(0, 255, 157);
    color: white;
    margin-left: 10px;
}
.rettangolo_arancio{
    border-radius: 20px;
    padding:8px;
    background-color: rgb(255, 166, 0);
    color: white;
    margin-left: 10px;
}
.rettangolo_viola2{
    border-radius: 20px;
    padding:8px;
    background-color: rgb(255, 0, 200);
    color: white;
    margin-left: 10px;
}
.rettangolo_verde2{
    border-radius: 20px;
    padding:8px;
    background-color: rgb(221, 255, 0);
    color: white;
    margin-left: 10px;
}